.h3 {
    display: flex;
    font-size: 20px;
    background-color: #F5F5F5;
    height: 57px;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0px 0px;

}
.span {
    padding: 7px;
    color: #E27866;
}

label {
    padding-top:30px;
    margin-left: 51px;
    
}
form {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 360px;
    background-color: #FFFFFF;

}


// get started

.green {
    border: 0px;
    border-radius: 0px 0px 8px 8px;
    background-color: #41D395;
    height: 57px;
    width: 100%;
    color: #FFFFFF;
    font-size: 18px;
    
}

// name/surname/phone

.persons-name {
    padding-top: 25px ;
    border: 0px;
    border-bottom: 1px solid #D8D8D8;
    width: 260px;
    margin-left: 51px;
}



