.explore {
    position: relative;
    background-image: url(explore.jpg);
    background-size: cover;
    padding-bottom: 40px;
    .text_container {
        z-index: 555;
        margin-left: 54px;

    }

    &:before {
        content: '';
        position: absolute;
        background-image: linear-gradient(#6696E2, #E27866);
        z-index: 2;
        opacity: .42;
        width: 100%;
        height: 100%;
    }
}
.left_explore {
    padding-top: 127px;
    z-index: 55;
    
.block {
    width: 100px;
    height: 100px;
    background-color: #E27866;
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
    
    p {
        color: white;
        text-transform: uppercase;
        transform: rotate(-45deg);
        display: flex;
        justify-content:center;
        z-index: 55;
        
    }

    }
}

.padding{
    padding-top: 150px;
}


.img-row {
    padding-top: 114px;
    display: flex;
    flex-wrap: wrap;
    z-index: 555;
    

     .first:hover::before {
        
        content: '';
        position: absolute;
        cursor: pointer;
        z-index: 2;
        opacity: .42;
        width: 100%;
        height: 100%;
        background-color: #E27866;
        

        
    }
    .second:hover::before {
        
        content: '';
        cursor: pointer;
        position: absolute;
        z-index: 2;
        opacity: .42;
        width: 100%;
        height: 100%;
        background-color: #E27866;
    }
    .third:hover::before {
        
        content: '';
        cursor: pointer;
        position: absolute;
        z-index: 2;
        opacity: .42;
        width: 100%;
        height: 100%;
        background-color: #E27866;
    }
}
.text {
    color: #FFFFFF;
    font-size: 14px;
    padding-top: 33px;
}
.first,
.second,
.third {
    background-size: cover;
    position: relative;
}

.first { 
    display: flex;
    width: 168px;
    height: 168px;
    background-image: url(pirmanew.jpg);
    align-items: center;
    justify-content: center;
}

.second {
    display: flex;
    width: 168px;
    height: 168px;
    background-image: url(antranew.jpg);
    margin-left:26px ;
    align-items: center;
    text-align: center;
}

.third {
    display: flex;
    width: 362px;
    height: 168px;
    background-image: url(trecia-compressor.jpg);
    align-items: center;
    justify-content: center;
}

.first:hover::after {
    content: 'Explore';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    z-index: 55;
    font-size: 20px;
}
.second:hover::after {
    content: 'Sliced Vegetables';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    z-index: 55;
    font-size: 20px;
}
.third:hover::after {
    content: 'Steps and Shoes';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    z-index: 55;
    font-size: 20px;
}

@media (max-width:860px) {
    .media-exp {
        flex-direction: column;
        .third {
            margin-left: 26px;
        }
        .text_container {
            margin-left: 0px;
            padding-top: 40px;
        }
        .padding {
            padding-top: 0px;
            text-align: center;
        }
        .img-row {
            padding-top: 40px;
            margin-left: 30px;
        }
        .left_explore {
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
        }
        .text {
            text-align: center;
        }
    }
}

@media (max-width:783px) {
    .media-exp{
        .third {
            margin-left: 0px;
            margin-top: 20px;
        }
    }    
}