.section_media {
    padding-bottom: 40px;

    .media {
        padding-top: 19px;
    }
}
p {
    padding-top: 5px;
    font-size: 14px;
    color: #86878B;
    max-width: 394px;
}

    .img_logos {
        width: 30px;
        height: 30px;
        padding-top: 38px;
        margin-left: 107px;
    }

.container {
    display: flex;
    justify-content: space-between;
}
