.section_media {
    padding-bottom: 40px;

    .media {
        padding-top: 19px;
    }
}
p {
    padding-top: 5px;
    font-size: 14px;
    color: #86878B;
    max-width: 394px;
}

.media-px{
    display: flex;
    justify-content: space-between;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .img_logos {
        width: 30px;
        height: 30px;
        padding-top: 38px;
        margin-left: 80px;
    }


@media (max-width:1000px) {
    .media-px {
        flex-direction: column;
    }
    .media {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}