.container {
    justify-content: space-between;
}
.third-section {
    background-color: #1C1C1C;
    padding-bottom: 50px;

    .section-logo-big {
        width: 388px;
        height: 170px;
        padding-top: 213px;
    }
    .text_style {
        font-size: 30px;
        color: #FFFFFF;
    }
    .text_style_border {
        color: #FFFFFF;
        font-size: 14px;
        margin-top: 27px;
        position: relative;
        
    }
}
.text_style_border:before {
    content: '';
    position: absolute;
    background-color: #E27866;
    width: 49.7%;
    height: 2px;
    top: -12px;
    
}
.color_logo {
    width:50px;
    height:50px;
    background-color: #E27866;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.logo-block {
    display: flex;
    align-items: flex-start;
}

.small_logo {
    width:27px;
    height:18px;
    
}

.container_section_right {
    flex-flow: column;
    display: flex;
    padding-top: 90px;
}
.logo_container {
    margin-top: 43px;

    .description {
        margin-left: 19px;
    }
}

.margin {
    margin-top: 36px;
}
.title {
    color: #FFFFFF;
    font-size: 14px;
}
.title_text {
    color: #FFFFFF;
}

@media (max-width:1100px) {
    
    .media-col {
        flex-direction: column;
    }
}

@media (max-width:400px) {
    .third-section{
        .section-logo-big {
            width:334px;
            height: 148px;
        }
        .color_logo {
            width: 70px;
        }
    }
}
@media (max-width:350px) {
    .third-section {
        .section-logo-big {
            width: 280px;
        }
    }
}