footer {
    background-color: #1C1C1C;
}
.img_logos_footer {
    width: 20px;
    height: 20px ;
    padding-top:51px;
    margin-right: 80px;
    
}
.fot {
    font-size: 18px;
}
    
.media_padding {
    padding-top: 51px;
}
.section_media {


.row-reverse {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
}
}


@media (max-width:900px) {
    .section_media {
        .row-reverse {
            display: flex;
            flex-direction: column;
            }
            .fot {
                display: flex;
                justify-content: center;
                margin-left: 30px;
            }
        }
    }
@media (max-width:440px) {
    .img_logos_footer {
        margin-right: 0px;
    }
}
@media (max-width:400px) {
    .img_logos_footer {
        margin-right: 0px;
    }
    .section_media {
        .fot {
            margin-left: 0px
        }
    }
}
