

header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #1C1C1C ;
    color:#FFFFFF;
    font-family: 'Montserrat', sans-serif;

    .container {
        display: flex;
        justify-content: space-between;
    }

    ul {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        list-style-type: none;

        li {
            margin-left: 35px;
            opacity: 0.7;
            font-size: 14px;
            border-bottom: 2px solid #E27866;

        }
    }
}   