header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #1C1C1C ;
    color:#FFFFFF;
    display: flex;
    position: sticky;
    top:0px;
    z-index: 5555;
    
    .main-icon {
      z-index: 9999;
    }
    
    .container {
        display: flex;
        justify-content: space-between;

        .checkbox {
          display: none;

        }
       
    }

    .menu{
        position: relative;
      }
      
      .menu:after {
        content: '';
        position: absolute;
        width: 0; 
        height: 3px;
        display: block;
        margin-top: 24px;
        right: 0;
        background: #E27866;
        transition: .5s ease;
      }
       
      .menu:hover:after{
        width: 100%;
        left: 0;
        background: #E27866;
      }

    ul {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        list-style-type: none;

        li {
            margin-left: 35px;
            opacity: 0.7;
            font-size: 14px;
        }
        
    }
}   

@media (max-width:680px) {
    .dekstop-menu {
      display: none;
    }
}


// burger

.mobile-menu {
  position: fixed;
  height: 30vh;
  width: 100%;
  background: black;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.7s ease-in-out;
}

@media (min-width:680px) {
  .magic-label {
      display: flex;

  }
}
@media (min-width:680px) {
  .menu-open {
    display: none;
  }
}

.menu-open, .menu-close {
  width: 30px;
  height: 30px;
  margin-left: -15px
}

.magic-label {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  transition: 0.7s ease-in-out;
  cursor: pointer;
  z-index: 2;
  width: 30px;
  height: 30px;
}

.mobile-menu .burger {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.magic-label .menu-close {
  display: none;
}
.checkbox:checked + .magic-label .menu-open {
  display: none;
}
.checkbox:checked + .magic-label .menu-close {
  display: block;
}
.checkbox:checked ~ .mobile-menu {
  opacity: 1;
  visibility: visible;
}
@media (max-width:440px) {
  header ul li {
    margin-left: 0px;
  }
}

@media (max-width:400px) {
  header ul li {
        margin-left: 0px;
  }
 }

